/*buttons*/

.nav-link {
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: white 1px solid;
    transition: all 0.3s ease-in-out;
}